body{
    width:100%;
    height: 780px;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article{
    background-color: #427AA1;
    display: none;
    height: 100%;
    width:50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

article>h2:hover, section>h2:hover{
    opacity:85%;

}

section{
    background-color: #6BAA75;
    display: none;
    height: 100%;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div#komunikat{
    background-color: #EBF2FA;
    position:absolute;
    display: none;
    width:65%;
    height:35%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    flex-direction: row;
}

div#komunikat:hover{
    outline:8px solid #427AA1;
    opacity:85%;
}

article > h2, section > h2{
    background-color: #EBF2FA;
    width:75%;
    height:450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    font-size: 3em;
    padding: 10px;
}

img[alt="graduation_cap"]{
    width:75%;
    height:290px;
    margin-top: 30px;
    margin-bottom: 30px;
}

img[alt="books"]{
    width:55%;
    height:350px;
}

img[alt="logo"]{
    width:120px;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 50px;
}

b{
    color:#6BAA75;
}

header{
    background-color: #8cb369;
    width:100%;
    height:100px;
    display: none;
}

a[href] > img{
    width:50px;
    height:50px;
    border-radius: 50%;
    outline: 4px solid white;
}

a[href]{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

header > img{
    display: flex;
    
}

form > div{
    width:100%;
    height:100px;
    background-color: #8cb369;
    margin-bottom: 50px;
    color:white;
    text-align: center;
    font-size: 130%;
}

form#l{
    display: none;
    width:50vw;
    height:80vh;
    flex-direction: column;
    text-align: center;
    justify-content:space-between;
    border-radius: 50px;
    font-size: 130%;
    align-items: center;
    outline:6px solid #8cb369;
    overflow: hidden;
}

form#ca{
    display: flex;
    width:50vw;
    height:80vh;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 130%;
    align-items: center;
    outline:6px solid #8cb369;
    overflow: hidden;
}

input[name="login"], input[name="password"], 
input[name="firstName"], input[name="lastName"]{
    width:80%;
    height:10%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-size: 70%;
    padding-left: 10px;
    outline: 4px solid #8cb369;
}

select{
    width:35%;
    height:7%;
    border-radius: 25px;
    font-size: 70%;
    outline: 4px solid #8cb369;
}

button[type="submit"]{
    width:35%;
    height:7%;
    border-radius: 25px;
    font-size: 70%;
    outline: 3px solid #5603ad;
    background-color: #8367c7;
    cursor: pointer;
}

a{
    color: #5603ad;
}