body{
    width:100%;
    height: 780px;
    display: flex;
    overflow: hidden;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    display:flex;
    font-family: inherit;
    color:white;
    width:100%;
    height: 100%;
    flex-direction: column;
    background-color: #9bbed6;
}

main  h1{
    display: flex;
    width:45%;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    border-radius: 25px;
    font-size:250%;
}

#ht{
    background-color: rgb(143, 170, 220);
    border: 7px solid rgb(88, 128, 203);
}

#hl{
    background-color: rgb(31, 78, 121);
    border: 7px solid rgb(25, 62, 97);
}

#hd{
    background-color: rgb(46, 117, 182);
    border: 7px solid rgb(37, 94, 146);
}

#hn{
    background-color: rgb(172, 118, 217);
    border: 7px solid rgb(140, 66, 202);
}

#ht:hover, #hl:hover, #hn:hover, #hd:hover{
    opacity:85%;
}

main div{
    display:flex;
    margin:0;
    justify-content: center;
    align-items: center;
}

main div:first-of-type{
    width:100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main div:last-of-type{
    width:100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}